html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

#footer, #header {
    position: fixed;
    z-index:31;
    width: 100%;
}

#footer {
    bottom: 0;
}

#footer-content {
    height:150px;
    background-color: azure;
}

#header-content {
    height:150px;
    background-color: darkblue;
}

h2 {
    text-align: center;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    margin: 0
}

#footer-slide-button, #header-slide-button {
    margin-left: 50%;
}

#left-bar, #right-bar {
    position: fixed;
    z-index: 32;
    height: 100%;
}

#left-bar-content, #left-bar-slide-button, #right-bar-content, #right-bar-slide-button {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

#left-bar-content {
    height: 300px;
    width: 300px;
    float: left;
    background-color: crimson ;
}

#left-bar-slide-button {
    float: right;
}

#map {
    height:100%;
    width:100%;
}

#report {
    width: 100%;
    height: 100%;
    padding: 15px;
    border-bottom: 1px solid #bfbfbf;
    box-shadow: 0 1px 1px #dcdcdc;
}

#report-content {
    display: inline-block;
    height: 50px;
    width: 190px;
    text-shadow: 1px 1px 0 #fff;
    padding: 3px 10px 0px 10px;
}

#report-content h3 {
    font-weight: 800;
    font-size: 14px;
    color: #2a2a2a;
    margin: 0;
    font-family: 'Open Sans', Arial, sans-serif;
}

#report-content p {
    padding-bottom: 0;
    margin-top: 5px;
    line-height: 24px;
    color: #2a2a2a;
    font-size: 13px;
}

#report-icon {
    float: left;
    height: 70px;
    width: 70px;
    border: 1px solid #545454;
    -moz-box-shadow: 1px 1px 0px #e3e3e3;
    -webkit-box-shadow: 1px 1px 0px #e3e3e3;
    box-shadow: 1px 1px 0px #e3e3e3;
    background-color: darkorange;
}

#report-voice-note {
    float: right;
    height: 70px;
    width: 70px;
}

#right-bar {
    right: 0;
}

#right-bar-content {
    height: 85%;
    width: 400px;
    float: right;
    background: #cbcbcb;
    border-left: 1px solid #f7f7f7;
    box-shadow: inset 2px 0 5px rgba(0, 0, 0, 0.15);
}

#right-bar-slide-button {
    float: left;
}

#scrollbar1 .overview {
    position: relative;
}

#scrollbar1 .scrollbar, {
    height: 100%;
    position: relative;
    float: right;
    width: 5px;
    margin-top: 16px;
}

#scrollbar1 .track {
    background: rgba( 0,0,0,0.05 );
}

#scrollbar1 .thumb {
    background: rgba( 60,60,60,0.2 );
    width: 5px;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    border-radius: 10px;
}

#scrollbar1 .viewport {
    width: 90%;
    height: 95%;
}